  <footer class="web">
        <div class="select">
            <a href="index.html"><img
                    src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/6d666caf369e2de99b649ce9fc967d13e36f30b5/2025-week1/logo.svg"
                    alt="logo"></a>
            <div class="selectMeun">
                <a href="store.html">商品列表</a>
                <a href="story.html">品牌故事</a>
            </div>
        </div>

        <div class="copyright">
            <p>Copyright ©2025 URBNSTYLE</p>
            <p>All Rights Reserved.</p>
        </div>
    </footer>