// RWD設計
@media (max-width:936px) {
    nav {
        margin-top: 13px;
        margin-bottom: 13px;

        .selectMeun {
            display: none;
        }
    }

    .web {
        padding-left: 12px;
        padding-right: 12px;
    }

    .title {
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/hero-sm.png?raw=true");
        background-size: cover;
        background-position: 50% 50%;
        margin-bottom: 0;
        padding-top: 87px;
        padding-bottom: 87px;
        text-align: center;

        h1 {
            font-size: 28px;
        }

        h3 {
            font-size: 20px;
        }
    }

    .story {
        max-width: 100%;
        margin-left: 12px;
        margin-right: 12px;
        padding-left: 0;
        padding-right: 0;

        img {
            margin-bottom: -16px;
        }

        h4 {
            font-size: 20px;
            margin-bottom: 16px;
        }

        h5 {
            font-size: 16px;
            margin-bottom: 12px;
        }

        p {
            margin-bottom: 12px;
        }
    }

    .smallStory {
        width: 100%;
        text-align: left;
        padding: 24px;
        border-radius: 12px;
        margin-top: 32px;
        margin-bottom: 32px;
    }

    .part {
        width: 100%;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .ad {
        margin-top: 32px;

        h4 {
            font-size: 20px;
        }

        button {
            margin-left: 16px;
            padding: 8px 16px;
        }
    }

    footer {
        padding-top: 32px;

        .select {
            align-items: start;
            flex-direction: column;
        }

        .selectMeun {
            display: flex;
            flex-direction: column;
            margin-left: 0px;

            a {
                margin-left: 12px;
                margin-top: 12px;
                margin-bottom: 12px;
            }
        }
    }

    .content {
        margin-top: 16px;
        margin-bottom: 8px;
        margin-left: 12px;
        margin-right: 12px;

        span {
            margin-left: 8px;
            margin-right: 8px;
        }

        h3 {
            margin-top: 21.5px;
            margin-bottom: 21.5px;
            font-size: 24px;
        }
    }

    .sideMenu {
        display: none;
    }

    .shoesList {
        width: 100%;
    }

    .shoes {
        li {
            width: 48%;
            margin-bottom: 24px;

            img {
                margin-bottom: 8px;
            }
        }
    }

    .favorite {
        width: 100%;
        margin-top: 24px;
        margin-bottom: 24px;
        padding-left: 12px;
        padding-right: 12px;

        h3 {
            font-size: 24px;
            margin-left: 8px;
        }

        .topic {
            margin-bottom: 25.5px;
        }

        .icon {
            width: 32px;
            height: 32px;

            i {
                left: 25%;
                top: 14%;
            }
        }

        button {
            margin-top: 24px;
        }
    }

    .openTime {
        align-items: center;
        margin-top: 24px;
    }

    .openText {
        flex-direction: column;
    }

    .fshoesList li {
        padding-top: 24px;

        .shoesDetail {
            width: 100%;
            font-family: "Montserrat";

            h5 {
                color: #212529;
                font-size: 16px;
            }

            p {
                font-size: 14px;
            }

            span {
                color: #6C757D;
                margin-right: 12px;
                font-family: "Noto Sans TC";
                font-weight: 400;
            }

            .price {
                text-align: left;
            }
        }
    }

    .shoesBox {
        flex-direction: column;
        margin-top: 0;
        margin-bottom: 40px;
    }

    .shoesPicture {
        width: 100%;
        margin-right: 0;

        ul {
            flex-direction: row;
            flex-wrap: nowrap;
        }

        li {
            width: 100%;
            margin-bottom: 24px;
        }

        .noshow {
            display: none;
        }
    }

    .shoesDescribe {
        width: 100%;

        .tagMain {
            color: #212529;
            font-weight: 500;
            margin-left: 0;
        }

        .tag {
            margin-bottom: 12px;
            font-size: 14px;
        }

        h2 {
            font-size: 24px;
        }

        h5 {
            font-size: 16px;
            margin-bottom: 12px;

            span {
                font-size: 14px;
            }
        }
    }

    .size {
        margin-bottom: 24px;
    }

    .click {
        flex-direction: row-reverse;
        margin-bottom: 32px;

        button {
            width: 100%;
        }

        .add {
            border: none;
            width: 10%;

            i {
                margin-right: 0;
            }

            p {
                display: none;
            }
        }

        .book {
            width: 100%;
            margin-right: 8px;
        }

    }

    .moreShoes {
        margin-top: 40px;
        margin-bottom: 40px;

        h4 {
            font-size: 20px;
            margin-bottom: 16px;
        }
    }

    .moreBox {
        display: none;
    }

    .swiper {
        display: block;

        .swiper-wrapper {
            width: 100%;
        }

        .swiper-slide {

            img {
                width: 100%;
                margin-bottom: 12px;
            }

            h6 {
                font-weight: 700;
            }

            p {
                font-weight: 500;
            }

            .itag p {
                padding: 8px 12px;
                font-size: 14px;
            }

        }
    }

    // 首頁
    .dbanner {
        background: url('https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/banner-sm.png?raw=true');
        background-size: cover;
        background-position: 50% 50%;
        margin-bottom: 40px;
        padding: 155px 24px;

        h1 {
            margin-bottom: 8px;
            font-size: 48px;
        }

        h3 {
            font-size: 20px;
            margin-bottom: 32px;
        }

    }


    .newsMain {
        font-size: 32px;
        margin-bottom: 8px;
    }

    .news {
        h2 {
            font-size: 24px;
            margin-bottom: 24px;
        }
    }


    .newsPicture {
        margin-bottom: 0;

        li {
            margin-right: 12px;
            margin-bottom: 24px;
        }

        img {
            margin-bottom: 8px;
        }

        h5,
        p {
            font-size: 16px;
        }
    }

    .hotPicture {
        display: none;
    }

    .bannerMid {
        background: url('https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/banner-co-branded-sm.png?raw=true');
        background-size: cover;
        background-position: 50% 50%;
        margin-top: 24px;
        margin-bottom: 24px;
        padding-top: 64px;
        padding-bottom: 64px;
        text-align: center;

        .newsMain {
            font-size: 32px;

            span {
                font-size: 28px;
                color: #C0FA73;
                padding-left: 0;
                padding-right: 0;
            }
        }

        h2 {
            font-size: 20px;
            margin-bottom: 24px;
        }

        p {
            margin-bottom: 32px;
            font-size: 16px;
        }

        a {

            display: inline-block;
            background-color: #C0FA73;
            padding: 12px 24px;
            border-radius: 4px;
            font-weight: 500;
            line-height: 1.5;
            margin-top: 32px;
        }
    }

    .bannerSub {
        flex-direction: column;

        p {
            margin-bottom: 4px;
        }

        .noshow {
            display: none;
        }
    }

    .typeSelect {
        margin-top: 40px;
        margin-bottom: 40px;

        h2 {
            font-size: 24px;
        }
    }

    .typeSelectList {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        justify-content: center;

        li {
            width: 48%;
        }

        .tTag {
            h3 {
                font-size: 16px;
            }

            h5 {
                font-size: 16px;
            }
        }
    }

    .suggestion {
        margin-top: 40px;
        margin-bottom: 40px;

        h2 {
            font-size: 24px;
        }
    }

    .suggestionBlock {
        display: none;
    }

    .selectMeunIndex {
        display: block;
        display: flex;
        align-items: center;
        text-align: center;
        font-weight: 500;

        .indexList {
            width: 50%;
            padding-top: 12px;
            padding-bottom: 12px;
            background-color: #E8FEC5;

            &:hover {
                border: 1px solid #6C757D;
                 border-radius: 4px;
            }
        }

        .indexStory {
            width: 50%;
            background-color: #F5FEE7;
            padding-top: 12px;
            padding-bottom: 12px;

            &:hover {
                border: 1px solid #6C757D;
                border-radius: 4px;
            }
        }
    }
}