<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>商品詳情頁 | 鞋子電商</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&family=Noto+Sans+TC:wght@100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <%- include('./layout/header'); -%>

        <div class="shoesBox web">
            <div class="shoesPicture">
                <ul>
                    <li><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/image.png?raw=true"
                            alt="shoes"></li>
                    <li class="noshow"><img
                            src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/image-1.png?raw=true"
                            alt="shoes"></li>
                    <li class="noshow"><img
                            src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/image-2.png?raw=true"
                            alt="shoes"></li>
                    <li class="noshow"><img
                            src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/image-3.png?raw=true"
                            alt="shoes"></li>
                    <li class="noshow"><img
                            src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/image-4.png?raw=true"
                            alt="shoes"></li>
                    <li class="noshow"><img
                            src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/image-5.png?raw=true"
                            alt="shoes"></li>
                    <li class="noshow"><img
                            src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/image-6.png?raw=true"
                            alt="shoes"></li>
                    <li class="noshow"><img
                            src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/image-7.png?raw=true"
                            alt="shoes"></li>
                </ul>

            </div>
            <div class="shoesDescribe">
                <div class="tag">
                    <p>首頁<span>/</span>女鞋<span>/</span>滑板鞋<span>/</span><span class="tagMain">Platform 404</span></p>
                </div>
                <h2>Platform 404</h2>

                <h5 class="price">NT$2,600<span>NT$3,200</span></h5>

                <div class="shoesStory">
                    <p>Platform 404 以柔和奶白為底，搭配深藍色皮革點綴，走在街上自帶回頭率。鞋型採用復古運動風輪廓，結合輕量厚底與柔軟泡棉鞋舌，兼顧美感與舒適。</p>
                    <p>鞋身選用柔軟皮革材質，打造出清新卻不失個性的氛圍，並以鞋面透氣孔設計提升穿著體驗，兼顧質感與舒適度，適合日常長時間著用。無論是街頭穿搭、日常通勤或週末出遊都能輕鬆駕馭。</p>

                </div>

                <div class="color">
                    <p>顏色</p>
                    <div class="colorPicture">
                        <ul>
                            <li><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product.png?raw=true"
                                    alt="blue">
                                <p>藍色</p>
                            </li>
                            <li><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-1.png?raw=true"
                                    alt="Khaki">
                                <p>卡其色</p>
                            </li>
                        </ul>
                    </div>




                </div>

                <div class="size">
                    <p>尺寸</p>
                    <ul>
                        <li>
                            <p>35(22.5cm)</p>
                        </li>
                        <li>
                            <p>36(23.0cm)</p>
                        </li>
                        <li>
                            <p>37(23.5cm)</p>
                        </li>
                        <li>
                            <p>38(24.0cm)</p>
                        </li>
                        <li>
                            <p>39(24.5cm)</p>
                        </li>
                        <li>
                            <p>40(25.0cm)</p>
                        </li>
                        <li>
                            <p>41(26.0cm)</p>
                        </li>
                        <li class="sold">
                            <p>42(26.5cm)</p>
                        </li>
                        <li class="sold">
                            <p>43(27.0cm)</p>
                        </li>
                    </ul>
                    <p class="note">僅剩 3 雙</p>
                </div>

                <div class="click">
                    <button type="button" class="add">
                        <a href="favorite.html"><i class="bi bi-heart"></i><p>加入收藏</p></a>
                    </button>
                    <button type="button" class="book"><i class="bi bi-handbag"></i>門市預約試穿</button>

                </div>
                <div class="aboutShoes">
                    <ul>
                        <li>
                            <p class="aboutTitle">商品材質</p>
                            <p>鞋面：合成皮革（Synthetic Leather<br>內裡：透氣網布材質，提升舒適與排汗性<br>鞋底：EVA
                                輕量發泡橡膠，具備良好緩震與止滑效果<br>鞋帶：聚酯纖維，耐拉扯不易鬆脫</p>
                        </li>
                        <li>
                            <p class="aboutTitle">購買須知</p>
                            <p>商品顏色因螢幕顯示可能略有差異，請以實品為準。<br>建議首次穿著前試穿確認尺寸，避免影響退換貨權益。<br>本商品為限量發售，庫存有限，如需更換尺寸請儘早聯繫客服協助處理。
                            </p>
                        </li>
                        <li>
                            <p class="aboutTitle">保養方式</p>
                            <p>建議以乾布或微濕軟布擦拭表面汙漬，避免機洗或長時間浸水。
                                收納時請放置於乾燥通風處，避免日曬及高溫導致變形或龜裂。
                                若需深層清潔，建議使用中性清潔劑並搭配柔刷輕刷，勿使用漂白水或強酸強鹼清潔劑。</p>
                        </li>
                    </ul>
                </div>

            </div>

        </div>

        <div class="moreShoes web">
            <h4>你可能也喜歡...</h4>
            <div class="moreBox">
                <ul>
                    <li><a href="#"><img
                                src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-2.png?raw=true"
                                alt="VM001">
                            <h6>VM001</h6>
                            <p>NT$2,600</p>
                        </a>
                    </li>
                    <li><a href="#"><img
                                src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-3.png?raw=true"
                                alt="Melty Kiss">
                            <h6>Melty Kiss</h6>
                            <p>NT$4,000</p>
                        </a></li>
                    <li><a href="#"><img
                                src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-4.png?raw=true"
                                alt="BOOMBLOK">
                            <h6>BOOMBLOK</h6>
                            <p>NT$3,200</p>
                        </a></li>
                    <li><a href="#"><img
                                src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-7.png?raw=true"
                                alt="Sugar Snap">
                            <h6>Sugar Snap</h6>
                            <p>NT$3,200</p>
                        </a></li>
                </ul>
            </div>


            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><a href="#"><img
                                src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-2.png?raw=true"
                                alt="VM001">
                            <h6>VM001</h6>
                            <p>NT$2,600</p>
                        </a></div>
                    <div class="swiper-slide"><a href="#"><img
                                src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-3.png?raw=true"
                                alt="Melty Kiss">
                            <h6>Melty Kiss</h6>
                            <p>NT$4,000</p>
                        </a></div>
                    <div class="swiper-slide"><a href="#"><img
                                src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-4.png?raw=true"
                                alt="BOOMBLOK">
                            <h6>BOOMBLOK</h6>
                            <p>NT$3,200</p>
                        </a></div>
                    <div class="swiper-slide"><a href="#"><img
                                src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-7.png?raw=true"
                                alt="Sugar Snap">
                            <h6>Sugar Snap</h6>
                            <p>NT$3,200</p>
                        </a></div>
                </div>
            </div>

        </div>





        <%- include('./layout/footer'); -%>

            <script type="module" src="../main.js"></script>

            <script>const swiper = new Swiper('.swiper', {
                    slidesPerView: 1.5,
                    spaceBetween: 16,                  
                });</script>
</body>

</html>