<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>首頁 | 鞋子電商</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&family=Noto+Sans+TC:wght@100..900&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+TC:wght@100..900&display=swap"
    rel="stylesheet">
</head>

<body>
  <%- include('./layout/header'); -%>
    <div class="dbanner">
      <h1>URBNSTEP</h1>
      <h3>Your Step, Your Statement</h3>
      <a href="store.html">立即選購</a>
    </div>
    <div class="news web">
      <h2 class="newsMain">New Arrival</h2>
      <h2>新品上市</h2>

      <ul class="newsPicture">
        <li><a href="#"><img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/new-1.png?raw=true"
              alt="news1">
            <h5>Monoverse</h5>
            <p>NT$3,600</p>
          </a></li>
        <li><a href="#"><img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/new-2.png?raw=true"
              alt="news2">
            <h5>PLATFORM 404</h5>
            <p>NT$2,600</p>
          </a></li>
        <li><a href="#"><img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/new-3.png?raw=true"
              alt="new3">
            <h5>URBN Force</h5>
            <p>NT$3,200</p>
          </a></li>
        <li><a href="#"><img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/new-4.png?raw=true"
              alt="">
            <h5>Mode90</h5>
            <p>NT$4,000</p>
          </a></li>
      </ul>

      <div class="hotSale">
        <h2>熱銷補貨</h2>
        <ul class="hotPicture">
          <li><a href="#">
              <div class="itag">
                <p>人氣 No.1</p>
              </div><img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-3.png?raw=true"
                alt="hot1">
            </a></li>
          <li><a href="#">
              <div class="itag">
                <p>人氣 No.1</p>
              </div><img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product.png?raw=true"
                alt="hot2">
            </a></li>
          <li><a href="#">
              <div class="itag">
                <p>人氣 No.1</p>
              </div><img
                src="	https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-6.png?raw=true"
                alt="hot3">
            </a></li>
          <li><a href="#">
              <div class="itag">
                <p>人氣 No.1</p>
              </div><img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-4.png?raw=true"
                alt="hot4">
            </a></li>
        </ul>
      </div>

    </div>

    <div class="bannerMid">
      <h2 class="newsMain">URBNSTEP<span>x</span>Kevin Chen</h2>
      <h2>跨界聯名，限量發售</h2>
      <p>新銳漫畫家 Kevin Chen 親自操刀設計，街頭能量全面引爆！</p>
      <a href="store.html">立即選購</a>
    </div>


    <%- include('./layout/ad'); -%>
      <%- include('./layout/footer'); -%>

        <script type="module" src="../main.js"></script>
</body>

</html>